body {
  background-color: #282d35;
  font-family: "Inter";
}
.main-header {
  display: flex;
  background-color: #21222a;
  padding: 2em;
  align-items: center;
}

.navTitle {
  color: #61dafb;
  padding: 1rem;
  font-size: 24px;
  font-weight: bold;
}

.mainSection {
  padding: 2em;
}

.mainTitle {
  color: white;
}

.mainSection ul {
  padding: 1em 2.5em;
}

.mainSection ul span {
  color: white;
}

.mainSection ul li {
  margin: 10px 0;
  color: #61dafb;
}

li::marker {
  font-size: 1.8em;
  line-height: 1;
}

.mainSection {
  margin-top: 50px;
  background-image: url(../public/react-half-icon.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size: contain;
}
